In [7]:
import yfinance as yf

In [8]:
sp500 = yf.Ticker("^GSPC")
sp500 = sp500.history(period="max")

In [9]:
sp500

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
1927-12-30 00:00:00-05:00,17.660000,17.660000,17.660000,17.660000,0,0.0,0.0
1928-01-03 00:00:00-05:00,17.760000,17.760000,17.760000,17.760000,0,0.0,0.0
1928-01-04 00:00:00-05:00,17.719999,17.719999,17.719999,17.719999,0,0.0,0.0
1928-01-05 00:00:00-05:00,17.549999,17.549999,17.549999,17.549999,0,0.0,0.0
1928-01-06 00:00:00-05:00,17.660000,17.660000,17.660000,17.660000,0,0.0,0.0
...,...,...,...,...,...,...,...
2025-11-14 00:00:00-05:00,6672.140137,6774.310059,6646.870117,6734.109863,5042660000,0.0,0.0
2025-11-17 00:00:00-05:00,6713.609863,6754.500000,6638.899902,6672.410156,5204220000,0.0,0.0
2025-11-18 00:00:00-05:00,6641.189941,6666.629883,6574.319824,6617.319824,5159390000,0.0,0.0
2025-11-19 00:00:00-05:00,6625.839844,6689.750000,6603.500000,6642.160156,5021610000,0.0,0.0
2025-11-20 00:00:00-05:00,6737.930176,6770.350098,6534.049805,6538.759766,5596080000,0.0,0.0